// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  red: (50: #fff1f1,
    100: #ffe0e0,
    200: #ffc6c7,
    300: #ff9e9f,
    400: #ff6668,
    500: #fd3134,
    600: #eb171a,
    700: #c60f12,
    800: #a31113,
    900: #871517,
    950: #4a0506,
  ),
  blue: (50: #f0f7fe,
    100: #ddecfc,
    200: #ddecfc,
    300: #9acaf6,
    400: #6badef,
    500: #488de9,
    600: #3371dd,
    700: #3371dd,
    800: #2c53b5,
    900: #264282,
    950: #1b2a50,
  ),
  green: (50: #effaf4,
    100: #d8f3e4,
    200: #b4e6cc,
    300: #82d3af,
    400: #4eb98c,
    500: #2c9d72,
    600: #1d7e5b,
    700: #18684d,
    800: #15503c,
    900: #124233,
    950: #09251d,
  ),
  dark-blue: (100: hsl(226, 42%, 34%),
    200: hsl(226, 44%, 25%),
    300: hsl(226, 46%, 18%),
    400: hsl(226, 49%, 14%),
    500: hsl(226, 57%, 9%),
  ),
  yellow: (50: #fffbeb,
    100: #fef2c7,
    200: #fde58a,
    300: #fcd45a,
    400: #fbbc24,
    500: #f59b0b,
    600: #d97406,
    700: #b45109,
    800: #923e0e,
    900: #78340f,
    950: #451903, ),
  neutral: (100: hsl(0, 0%, 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: #0a090b,
  ),
  gray: (50: #fafafa, 100: #f4f4f5,
    200: #e5e5e6,
    300: #d6d5d7,
    400: #a5a3a8,
    500: #67656a,
    600: #565459,
    700: #424045,
    800: #282829,
    900: #19191a,
    950: #0a090b,
  ),
);
