// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (50: #fff1f1,
    100: #ffe0e0,
    200: #ffc6c7,
    300: #ff9e9f,
    400: #ff6668,
    500: #fd3134,
    600: #eb171a,
    700: #c60f12,
    800: #a31113,
    900: #871517,
    950: #4a0506,
  ),
  secondary: (100: hsl(232, 79%, 96%),
    200: hsl(227, 78%, 69%),
    300: hsl(223, 61%, 44%),
    400: hsl(223, 67%, 22%),
    500: hsl(225, 80%, 10%),
  ),
  dark: (100: hsl(226, 42%, 34%),
    200: hsl(226, 44%, 25%),
    300: hsl(226, 46%, 18%),
    400: hsl(226, 49%, 14%),
    500: hsl(226, 57%, 9%),
  ),
  alert: (100: hsl(45, 96%, 67%),
    200: hsl(46, 59%, 50%),
    300: hsl(46, 62%, 36%),
    400: hsl(47, 75%, 14%),
    500: hsl(42, 83%, 5%),
  ),
  neutral: (100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
);
