@font-face {
  font-family: 'Lexend';
  src:
    local('Lexend ExtraBold'),
    local('Lexend-ExtraBold'),
    url('/fonts/Lexend/lexend-latin-800-normal.woff2') format('woff2'),
    url('/fonts/Lexend/lexend-latin-800-normal.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src:
    local('Lexend Bold'),
    local('Lexend-Bold'),
    url('/fonts/Lexend/lexend-latin-700-normal.woff2') format('woff2'),
    url('/fonts/Lexend/lexend-latin-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lexend';
  src:
    local('Lexend Regular'),
    local('Lexend-Regular'),
    url('/fonts/Lexend/lexend-latin-400-normal.woff2') format('woff2'),
    url('/fonts/Lexend/lexend-latin-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Piazzolla';
  src:
    local('Piazzolla ExtraBold'),
    local('Piazzolla-ExtraBold'),
    url('/fonts/Piazzolla/piazzolla-latin-800-normal.woff2') format('woff2'),
    url('/fonts/Piazzolla/piazzolla-latin-800-normal.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Piazzolla';
  src:
    local('Piazzolla Bold'),
    local('Piazzolla-Bold'),
    url('/fonts/Piazzolla/piazzolla-latin-700-normal.woff2') format('woff2'),
    url('/fonts/Piazzolla/piazzolla-latin-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Piazzolla';
  src:
    local('Piazzolla Italic'),
    local('Piazzolla-Italic'),
    url('/fonts/Piazzolla/piazzolla-latin-400-italic.woff2') format('woff2'),
    url('/fonts/Piazzolla/piazzolla-latin-400-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Piazzolla';
  src:
    local('Piazzolla Regular'),
    local('Piazzolla-Regular'),
    url('/fonts/Piazzolla/piazzolla-latin-400-normal.woff2') format('woff2'),
    url('/fonts/Piazzolla/piazzolla-latin-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
