// | -------------------------------------------------------------
// | Outline
// | -------------------------------------------------------------

@mixin outline {
  outline: 2px dotted var(--action-color, black);
  outline-offset: 0;
  -webkit-box-shadow: 0 0 0 2px var(--background, white);
  box-shadow: 0 0 0 2px var(--background, white);
}

*:focus,
*:focus-visible {
  @include outline;
}

*:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}