.card {
  border: 1px solid light-dark(hsl(0 0% 10%), hsl(0 0% 90%));
  border-radius: 0.5em;
  padding: 1em;
  // height: 100%;

  .button {
    width: 100%;
    padding: var(--space-2xs);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    svg {
      width: 1.3em;
      height: 1.3em;
    }
  }

  summary {
    cursor: pointer;
    font-size: var(--step-1);
    font-weight: 700;

    &::marker {
      font-size: 1.5rem;
      color: var(--primary-500);
    }
  }
}

.blog-card {
  &__title a {
    color: inherit;
    text-decoration: none;
  }

  &__title a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-thickness: 1px;
  }

  &title a:visited {
    color: inherit;
  }
}

.blog-card__image {
  width: 100%;
  height: auto;
  border-radius: 0.25em;
  margin-bottom: var(--space-xs);
}

.blog-card__meta {
  gap: var(--space-xs);
  font-size: var(--step--1);
  color: var(--text-200);
  margin-bottom: var(--space-xs);
}
