---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout title="Página no encontrada">
  <section class="page-section">
    <div class="container">
      <div class="hero grid">
        <div class="hero__text | flow">
          <h1>Página no encontrada</h1>
          <p>
            Lo sentimos, la página que buscas no existe o ha sido movida.
          </p>
          <a href="/" class="button button-primary">Volver al inicio</a>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>
