<section class="cta-section">
  <div class="container">
    <div class="cta-section__content">
      <h2>¡Hagamos crecer tu negocio en línea juntos!</h2>
      <a href="/contacto/" class="button">Contacto</a>
    </div>
  </div>
</section>

<style lang="scss">
  .cta-section {
    padding-block: var(--section-spacing);
    text-align: center;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-l);
      padding: var(--space-l);
      background-color: var(--primary-100);
      border-radius: 0.75rem;
    }

    h2 {
      max-width: 30ch;
      font-size: var(--step-3);
    }
  }
</style>
