<div class="container">
  <div
    class="call-to-action mt-24 mb-32 flex flex-col items-center gap-12 rounded-xl p-12 md:p-24"
  >
    <h2 class="text-center text-3xl md:text-5xl">
      ¡Hagamos crecer tu negocio en línea juntos
    </h2>
    <a href="/contacto/" class="button"> Contacto</a>
  </div>
</div>
