---
import Navigation from '../components/Navigation.astro'
import { DarkMode, Link, SkipLink } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Header Component
 *
 * @description A component that displays the header of the website
 */
---

<header role="banner" class="site-header">
  <SkipLink />
  <Navigation>
    <li class="menu-item">
      <Link href="/">Inicio</Link>
    </li>
    <li class="menu-item">
      <Link href="/blog/">Blog</Link>
    </li>
    <li class="menu-item">
      <Link href="/portafolio/">Portafolio</Link>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">
        Servicios
        <Icon aria-hidden="true" name="lucide:chevron-down" size="32" />
      </button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <Link href="/servicios/desarrollador-de-paginas-web">Creación de Páginas Web</Link>
        </li>
        <li class="submenu-item">
          <Link href="/servicios/desarrollador-de-tiendas-online">Creación de Tiendas Online</Link>
        </li>
        <li class="submenu-item">
          <Link href="/servicios/optimizacion-seo-y-posicionamiento">SEO y Optimización Web</Link>
        </li>
        <li class="submenu-item">
          <Link href="/servicios/mantenimiento-web">Mantenimiento Web</Link>
        </li>
      </ul>
    </li>
    <li class="menu-item">
      <Link href="/contacto/">Contacto</Link>
    </li>
    <li class="menu-item type-icon animate-rotate">
      <DarkMode>
        <Icon aria-hidden="true" name="lucide:moon" slot="light" />
        <Icon aria-hidden="true" name="lucide:sun" slot="dark" />
      </DarkMode>
    </li>
  </Navigation>
</header>

<style lang="scss" is:global>
  @use '../assets/scss/abstracts/colors.scss' as *;

  .site-header {
    background-color: var(--header-bg);
    padding-block: var(--space-xs-s);
    border-bottom: 0.3em solid var(--alert-100);
    //border: 0.2em solid var(--alert-100);
    
    .type-icon {
      display: block;
      margin-inline: -7px;

      svg {
        inline-size: 30px;
        block-size: 30px;
      }
    }
  }
</style>