<section id="contact" class="contact-section">
  <div class="container">
    <div class="grid">
      <div class="contact-section__text | flow">
        <h2>Contratar servicios de Programador Web</h2>
        <p>
          ¿Quieres pedir presupuesto para crear una página web o tienda online?
          ¿Quieres otro servicio web?
        </p>
        <p>
          Rellena el formulario de contacto, marcando los servicios a contratar
          y explicando con el máximo detalle tus necesidades (nº de secciones,
          idiomas, sector, etc).
        </p>
        <p>
          Si aún tienes dudas al contratar mis servicios de programador web
          freelance, igualmente puedes preguntarme cualquier consulta rellenando
          el formulario.
        </p>
      </div>
      <div class="contact-section__form">
        <h3>Contacto:</h3>
        <form
          name="contact"
          method="POST"
          data-netlify="true"
          data-netlify-honeypot="bot-field"
          class="form flow"
        >
          <input type="hidden" name="form-name" value="contact" />
          <p class="sr-only" aria-hidden="true">
            <label for="bot-field">No rellenar este campo.</label>
            <input id="bot-field" name="bot-field" />
          </p>
          <div>
            <label for="name"
              >Nombre: <span aria-label="requerido">*</span></label
            >
            <input
              type="text"
              id="name"
              name="name"
              required
              aria-required="true"
            />
          </div>
          <div>
            <label for="email"
              >Email: <span aria-label="requerido">*</span></label
            >
            <input
              type="email"
              id="email"
              name="email"
              required
              aria-required="true"
            />
          </div>
          <fieldset>
            <legend>¿Con qué te puedo ayudar?</legend>
            <ul class="grid">
              <li>
                <input
                  type="checkbox"
                  id="website"
                  name="website"
                  value="Página Web"
                />
                <label for="website">Página Web</label>
              </li>
              <li>
                <input
                  type="checkbox"
                  id="ecommerce"
                  name="ecommerce"
                  value="Tienda Online"
                />
                <label for="ecommerce">Tienda Online</label>
              </li>
              <li>
                <input
                  type="checkbox"
                  id="optimize"
                  name="optimize"
                  value="Optimización"
                />
                <label for="optimize">Optimización Web</label>
              </li>
              <li>
                <input
                  type="checkbox"
                  id="maintenance"
                  name="maintenance"
                  value="Mantenimiento"
                />
                <label for="maintenance">Mantenimiento Web</label>
              </li>
              <li>
                <input
                  type="checkbox"
                  id="doubt"
                  name="doubt"
                  value="No estoy seguro/a."
                />
                <label for="doubt">No estoy seguro/a.</label>
              </li>
            </ul>
          </fieldset>
          <div>
            <label for="message">Cuentame de qué va tu proyecto/idea:</label>
            <textarea id="message" name="message"></textarea>
          </div>
          <div
            class="cf-turnstile"
            data-sitekey="0x4AAAAAAAzvzdMRaR4lki2y"
            data-theme="light"
            data-size="normal"
            data-callback="onSuccess"
          >
          </div>
          <div>
            <button class="button" type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <style lang="scss">
    .contact-section {
      margin-block-start: var(--space-3xl);
      padding-block: var(--space-l);
      background-color: var(--alert-100);
      color: var(--gray-950);
    }

    .form {
      label,
      legend {
        font-weight: 600;
      }

      ul {
        margin-inline: 0;
      }

      li {
        list-style: none;
        label {
          font-weight: 500;
        }
      }

      input,
      textarea {
        background-color: var(--gray-100);
      }
    }
  </style>
</section>
