---
const { class: className, ...rest } = Astro.props;
---

<section id="page-banner" class={className} {...rest}>
  <div class="container">
    <div class="flex">
      <div class="flow | page-banner__content">
        {Astro.props.title && <h1>{Astro.props.title}</h1>}
        {Astro.props.description && <p>{Astro.props.description}</p>}
      </div>
      <div class="page-banner__btn">
        <a href="#contact" class="button">¡Quiero ponerme en contacto!</a>
      </div>
    </div>
  </div>
</section>


<style lang="scss">
  @use '../../assets/scss/abstracts/_mixins.scss' as *;
  @use '../../assets/scss/abstracts/breakpoints.scss' as *;

  #page-banner {
    padding: 4em 0;

    .flex {
      flex-wrap: wrap;
    }

    @include breakpoint('nav') {
      .page-banner__content {
        max-width: 70%;
      }
    }
  }  
</style>