---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import ServiceBanner from "../../components/page/PageBanner.astro";
import ContactSection from "../../components/page/ContactSection.astro";
---

<DefaultLayout class:list="ecommerce-development">
  <ServiceBanner
    title="Desarrollo de tiendas online a medida"
    description="¿Quieres vender tus productos o servicios en línea? Te ayudo a crear una tienda online profesional y funcional."
    class="blue-bg"
  />
  <section class="page-section">
    <div class="container">
      <div class="flow">
        <h2>
          Tiendas online seguras, rápidas y fáciles de gestionar. Vende tus
          productos 24/7 sin dolores de cabeza.
        </h2>
        <p>
          Vender online, ya sea en Venezuela o internacionalmente, puede ser un
          cambio de juego para PYMES y emprendimientos: imagina productos o
          donaciones llegando desde cualquier lugar, sin horarios limitados.
          Pero no es solo subir fotos –necesitas una tienda que inspire
          confianza, sea rápida y convierta visitantes en compradores. Yo
          desarrollo e-commerce personalizados (usando herramientas como
          WooCommerce para facilidad), con pagos seguros (como MercadoPago o
          transferencias), gestión de stock automática, y diseños que hacen que
          tus productos luzcan irresistibles. Problemas comunes resueltos:
          carritos abandonados por procesos complicados, inseguridad en pagos, o
          dificultad para actualizar precios. Beneficios? Ventas automáticas
          mientras duermes, reducción de costos (menos tiempo en redes
          respondiendo consultas), y crecimiento global. Para emprendimientos,
          facilita donaciones recurrentes; para negocios, aumenta ingresos sin
          expandir físicamente. Es como tener una tienda abierta todo el día –tú
          controlas, yo hago que funcione perfecto.
        </p>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="container">
      <div class="flow">
        <h2>Planes</h2>
        <p>Planes ajustados para diferentes requerimientos</p>
        <ul role="list" class="grid | plans-list">
          <li>
            <article class="flow | card">
              <h3>Tienda catálogo</h3>
              <hr />
              <details class="flow">
                <summary>Qué trae este plan:</summary>
                <ul>
                  <li>
                    Estilo <b>Catálogo / Escaparate</b>, es decir, tus clientes
                    sólo verán tu catálogo y no podrán realizar compras desde tu
                    tienda.
                  </li>
                  <li>
                    Tendrás hasta 12 secciones (inicio, quienes somos, nuestros
                    valores, contacto, etc)
                  </li>
                  <li>
                    Auto-administrable es decir, podrás modificar el contenido
                    de tu web desde un sencillo panel de control.
                  </li>
                  <li>
                    Se adaptará visualmente a dispositivos tanto PC como
                    teléfonos móviles (responsive).
                  </li>
                  <li>
                    Desarrollo en base al diseño aportado por el cliente o una
                    plantilla.
                  </li>
                  <li>
                    Configuración e instalación de la web en el servidor del
                    cliente (Instalación, certificado SSL, CDN Cloudflare).
                  </li>
                  <li>Optimización SEO básica.</li>
                  <li>Formulario de contacto.</li>
                  <li>Mapa de ubicación.</li>
                  <li>Botón de WhatsApp u otro chat.</li>
                  <li>Integración con redes sociales.</li>
                  <li>Cumplimiento con nivel AA de accesibilidad.</li>
                </ul>
              </details>
              <a href="#contact" class="button">Ponerse en contacto</a>
            </article>
          </li>
          <li>
            <article class="flow | card | recommended">
              <h3>Tienda Online Plus</h3>
              <span>Recomendado</span>
              <hr />
              <details class="flow">
                <summary>Qué trae este plan:</summary>
                <ul>
                  <li>
                    Tendrás hasta 12 secciones (inicio, quienes somos, nuestros
                    valores, contacto, etc)
                  </li>
                  <li>
                    Auto-administrable es decir, podrás modificar el contenido
                    de tu web desde un sencillo panel de control.
                  </li>
                  <li>
                    Se adaptará visualmente a dispositivos tanto PC como
                    teléfonos móviles (responsive).
                  </li>
                  <li>
                    Desarrollo en base al diseño aportado por el cliente o una
                    plantilla.
                  </li>
                  <li>
                    Configuración e instalación de la web en el servidor del
                    cliente (Instalación, certificado SSL, CDN Cloudflare).
                  </li>
                  <li>
                    Configuración de métodos de envío y cálculo de costos.
                  </li>
                  <li>Gestión de inventario y productos ilimitados.</li>
                  <li>Formulario de contacto.</li>
                  <li>Mapa de ubicación.</li>
                  <li>Botón de WhatsApp u otro chat.</li>
                  <li>Integración con redes sociales.</li>
                  <li>Cumplimiento con nivel AA de accesibilidad.</li>
                </ul>
              </details>
              <details class="flow">
                <summary>Funcionalidades E-commerce:</summary>
                <ul>
                  <li>Catálogo de productos con categorías y etiquetas.</li>
                  <li>Carrito de compras y proceso de pago optimizado.</li>
                  <li>
                    Gestión de pedidos y clientes desde el panel de
                    administración.
                  </li>
                  <li>
                    Opciones de productos variables (tallas, colores, etc.).
                  </li>
                </ul>
              </details>
              <details class="flow">
                <summary> Integración con sistemas de pago: </summary>
                <ul>
                  <li>
                    TPV virtual para pagos con tarjeta de crédito o débito.
                    Sistemas Redsys o PayComet compatibles con todas las
                    entidades bancarias (ING, Santander, Caixa, etc)
                  </li>
                  <li>
                    Stripe para pagos con tarjeta de crédito o débito. ¡Sin
                    necesidad de contratar con tu banco y con menos comisiones
                    que tu banco!
                  </li>
                  <li>
                    PayPal podrán pagar a través de una de las mayores
                    plataformas de pago dando confianza a tus clientes.
                  </li>
                </ul>
              </details>
              <details class="flow">
                <summary>SEO Inicial:</summary>
                <ul>
                  <li>
                    Atributos meta en Títulos y Descripciones automáticos.
                  </li>
                  <li>Optimización de velocidad y rendimiento web.</li>
                  <li>
                    Creación y envío de sitemap XML a motores de búsqueda.
                  </li>
                </ul>
              </details>

              <a href="#contact" class="button">Ponerse en contacto</a>
            </article>
          </li>
          <li>
            <article class="flow | card">
              <h3>Tienda Online Plus + SEO Plus</h3>
              <hr />
              <details class="flow">
                <summary>Qué trae este plan:</summary>
                <ul>
                  <li>
                    Tendrás hasta 12 secciones (inicio, quienes somos, nuestros
                    valores, contacto, etc)
                  </li>
                  <li>
                    Auto-administrable es decir, podrás modificar el contenido
                    de tu web desde un sencillo panel de control.
                  </li>
                  <li>
                    Se adaptará visualmente a dispositivos tanto PC como
                    teléfonos móviles (responsive).
                  </li>
                  <li>
                    Desarrollo en base al diseño aportado por el cliente o una
                    plantilla.
                  </li>
                  <li>
                    Configuración e instalación de la web en el servidor del
                    cliente (Instalación, certificado SSL, CDN Cloudflare).
                  </li>
                  <li>
                    Configuración de métodos de envío y cálculo de costos.
                  </li>
                  <li>Gestión de inventario y productos ilimitados.</li>
                  <li>Formulario de contacto.</li>
                  <li>Mapa de ubicación.</li>
                  <li>Botón de WhatsApp u otro chat.</li>
                  <li>Integración con redes sociales.</li>
                  <li>Cumplimiento con nivel AA de accesibilidad.</li>
                </ul>
              </details>
              <details class="flow">
                <summary>Funcionalidades E-commerce:</summary>
                <ul>
                  <li>Catálogo de productos con categorías y etiquetas.</li>
                  <li>Carrito de compras y proceso de pago optimizado.</li>
                  <li>
                    Gestión de pedidos y clientes desde el panel de
                    administración.
                  </li>
                  <li>
                    Opciones de productos variables (tallas, colores, etc.).
                  </li>
                </ul>
              </details>
              <details class="flow">
                <summary> Integración con sistemas de pago: </summary>
                <ul>
                  <li>
                    TPV virtual para pagos con tarjeta de crédito o débito.
                    Sistemas Redsys o PayComet compatibles con todas las
                    entidades bancarias (ING, Santander, Caixa, etc)
                  </li>
                  <li>
                    Stripe para pagos con tarjeta de crédito o débito. ¡Sin
                    necesidad de contratar con tu banco y con menos comisiones
                    que tu banco!
                  </li>
                  <li>
                    PayPal podrán pagar a través de una de las mayores
                    plataformas de pago dando confianza a tus clientes.
                  </li>
                </ul>
              </details>
              <details class="flow">
                <summary>SEO Profesional:</summary>
                <ul>
                  <li>Investigación de palabras clave para tu sector.</li>
                  <li>
                    Optimización avanzada on-page (etiquetas, meta
                    descripciones, estructura de URL).
                  </li>
                  <li>Optimización de velocidad y rendimiento web.</li>
                  <li>
                    Configuración de Google Analytics y Google Search Console.
                  </li>
                  <li>
                    Creación y envío de sitemap XML a motores de búsqueda.
                  </li>
                </ul>
              </details>
              <a href="#contact" class="button">Ponerse en contacto</a>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="page-section | faq">
    <div class="container">
      <div class="flow">
        <h2>Preguntas Frecuentes</h2>
        <ul role="list" class="grid">
          <li>
            <details class="flow">
              <summary
                >¿Cuánto tiempo llevaría la creación de la tienda online?</summary
              >
              <p>
                El tiempo promedio está de 15 a 30 días laborales/hábiles.
                Aunque si proporcionas más rápido la información necesaria, el
                tiempo pude reducirse. Otro factor que influye en el tiempo es
                la necesidad de funciones específicas que tenga el sitio web y
                la cantidad de cambios que se hagan en el proceso.
              </p>
            </details>
          </li>
          <li>
            <details class="flow">
              <summary
                >¿Necesito entregar algo antes de empezar contigo?</summary
              >
              <p>
                Necesitaré detalles sobre tu negocio, objetivos del sitio web,
                contenido (textos e imágenes), y cualquier preferencia de diseño
                que tengas.
              </p>
              <p>
                Después de eso vemos si tienes logo o redes sociales. Respecto a
                las imágenes es recomendable utilizar tus propias imágenes, las
                cuales te pediré que me las envíes en alta resolución. En caso
                contrario, puedo ayudarte a encontrar las imágenes perfectas a
                través de bancos de imágenes. También puedo agregar elementos
                gráficos como iconos y otros detalles decorativos para
                personalizar aún más tu sitio web.
              </p>
            </details>
          </li>
          <li>
            <details class="flow">
              <summary>¿Necesito tener un dominio minegocio.com?</summary>
              <p>
                Si, es necesario tener un dominio para tu sitio web. Lo mejor es
                que lo adquieras antes de comenzar el desarrollo del sitio web.
              </p>
              <p>
                Si no lo tienes, puedo ayudarte a adquirirlo. Y así esté en una
                cuenta a tu nombre para que, si ya no quieras contar con mis
                servicios, esté en tu posesión.
              </p>
              <p>Si no sabes cómo adquirirlo, puedo guiarte paso a paso.</p>
              <p>
                Otra ventaja de que tú seas propietario de tu dominio es que
                puedes tener un correo corporativo asociado a él.
              </p>
            </details>
          </li>
          <li>
            <details class="flow">
              <summary
                >¿Necesito hosting/alojamiento o algún servidor web?</summary
              >
              <p>
                Si, toda página web requiere obligatoriamente un servicio de
                alojamiento web o hosting. No te preocupes, yo te asesoraré y me
                encargaré de la contratación del mejor hosting en tu nombre,
                garantizando que serás el propietario.
              </p>
              <p>
                Si no quieres pasar por ese trabajo, ofrezco un servicio de
                mantenimento que incluye todo ese proceso más revisiones de
                seguridad, actualizaciones y cambios futuros que quieras hacerle
                a tu sitio web. Puedes revisar <a href="/mantenimiento-web/"
                  >AQUÍ</a
                > para saber más de ese servicio.
              </p>
            </details>
          </li>
          <li>
            <details class="flow">
              <summary
                >¿Puedo actualizar el contenido de mi sitio web yo mismo? ¿Si no
                se cómo hacerlo?</summary
              >
              <p>
                Sí, todos los sitios web que desarrollo son auto-administrables,
                lo que te permite actualizar textos e imágenes fácilmente.
              </p>
              <p>
                No te preocupes, una vez terminado el sitio web, te daré
                instrucciones paso a paso para que puedas actualizarlo tú mismo
                mediante una video llamada.
              </p>
            </details>
          </li>
          <li>
            <details class="flow">
              <summary
                >¿Si no quiero encargarme de la administración y solo quiero
                editar el contenido?</summary
              >
              <p>
                Para eso ofrezco un servicio de Mantenimiento Web en el que me
                encargo de mantener al día todo el sitio web y su optimización.
                Para ese servicio visita <a href="/mantenimiento-web/">AQUÍ</a>.
              </p>
            </details>
          </li>
          <li>
            <details class="flow">
              <summary
                >¿Mi sitio web será compatible con dispositivos móviles?</summary
              >
              <p>
                Sí, todos los sitios web que desarrollo son 100% responsive y se
                adaptan a cualquier tamaño de pantalla.
              </p>
            </details>
          </li>
          <li>
            <details class="flow">
              <summary
                >¿Ofreces servicios de mantenimiento después de lanzar el sitio
                web?</summary
              >
              <p>
                Sí, ofrezco paquetes de mantenimiento para asegurar que tu sitio
                web esté siempre actualizado y funcionando correctamente. Para
                ese servicio visita <a href="/mantenimiento-web/">AQUÍ</a>.
              </p>
            </details>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <ContactSection />

  <style lang="scss">
    @use "../../assets/scss/abstracts/colors.scss" as *;
    .blue-bg {
      background-color: #58b5f8;
      color: var(--gray-900);
    }
  </style>
</DefaultLayout>
