---
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import PageBanner from "../../components/page/PageBanner.astro";
import ContactSection from "../../components/page/ContactSection.astro";
---

<DefaultLayout class:list="seo-page">
  <PageBanner
    title="Servicios SEO, Optimización y Posicionamiento Web en Google"
    description="Mejora la visibilidad de tu sitio web en los motores de búsqueda con nuestras estrategias de SEO personalizadas."
    class:list="light-cyan-bg"
  />

  <section class="page-section">
    <div class="container">
      <div class="flow">
        <h2>¿Por qué es importante el SEO?</h2>
        <p>
          Ya sea en Venezuela o internacionalmente, competir en Google es clave,
          pero muchas PYMES y emprendimientos publican contenido genial y nadie
          lo ve porque no están 'optimizados'. Imagina invertir en redes
          sociales o marketing, pero tus potenciales clientes buscan 'servicios
          en Caracas' o en cualquier ciudad y no te encuentran. El SEO es como
          poner tu tienda en la esquina más transitada: hago que tu sitio
          aparezca en los primeros resultados de búsqueda, atrayendo visitas
          orgánicas (gratis) de personas que realmente buscan lo que ofreces.
          Sin tecnicismos: busco las palabras clave que usan tus clientes,
          mejoro la velocidad de carga (para que no se vayan frustrados), y
          aseguro que tu web se vea bien en móviles. Los resultados? Más tráfico
          de calidad, más conversiones (ventas o contactos), y presencia
          constante sin gastar en anuncios. Es inversión a largo plazo: una vez
          optimizado, sigues apareciendo año tras año. Para emprendimientos,
          significa más visibilidad para tus causas; para PYMES, más
          oportunidades de negocio. ¡Deja que Google trabaje para ti! Como he
          trabajado con emprendedores en USA y Venezuela, entiendo las
          necesidades globales y locales para hacer que tu sitio brille en
          cualquier mercado.
        </p>
      </div>
    </div>
  </section>
  <section class="page-section">
    <div class="container">
      <div class="flow">
        <h2>Técnicas de Optimización SEO</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A itaque,
          atque quam deserunt incidunt ratione et ipsum libero aliquam dolorem
          ipsam sapiente, nulla asperiores necessitatibus esse laboriosam!
          Obcaecati, veniam voluptatem.
        </p>
        <ul role="list" class="grid">
          <li>
            <article>
              <h3>Velocidad de carga:</h3>
              <ul>
                <li>Compresión de los archivos HTML, CSS y JavaScript.</li>
                <li>
                  Optimización de las imágenes mediante compresión y cambio al
                  nuevo formato .webp de las mismas.
                </li>
                <li>Carga asíncrona de imágenes y otros elementos.</li>
                <li>
                  Implementaré un sistema de CACHE web efectivo para la carga
                  ultra rápida de los contenidos.
                </li>
              </ul>
            </article>
          </li>
          <li>
            <article>
              <h3>Mejora de indexación:</h3>
              <ul>
                <li>
                  Alta en «Google Search Console» para ayudar a Google a
                  encontrar antes y mejor tu página web.
                </li>
                <li>
                  Añadiré un archivo sitemap.xml optimizado para buscadores.
                </li>
                <li>También el archivo robots.txt optimizado.</li>
              </ul>
            </article>
          </li>
          <li>
            <article>
              <h3>Pensando en los usuarios:</h3>
              <ul>
                <li>Buscaré las mejores palabras clave para tu web.</li>
                <li>
                  Utilizaremos en tus páginas principales los títulos y
                  descripciones que mejor se adapten para que tus usuarios te
                  encuentren.
                </li>
              </ul>
            </article>
          </li>
          <li>
            <article>
              <h3>*Posicionamiento web local:</h3>
              <ul>
                <li>
                  *Alta en “Google My Business”, para que cuando un usuario te
                  busque en Google, aparezca tu negocio en el lado derecho con
                  tu Logotipo, descripción, teléfono, horarios, mapa, y
                  opiniones de los usuarios. *Nota: éste servicio es un extra
                  opcional, puedes consultar presupuesto.
                </li>
              </ul>
            </article>
          </li>
          <li>
            <article>
              <h3>Parte técnica:</h3>
              <ul>
                <li>Declarar el idioma al navegador.</li>
                <li>URL canónicas.</li>
                <li>Correcciones en la visualización móvil.</li>
                <li>Datos enriquecidos Schema.</li>
                <li>
                  Protocolo Open Graph para que las redes sociales capten
                  correctamente la imagen destacada, titulo y descripción de la
                  página que se quiera compartir.
                </li>
                <li>
                  PageSpeed Insights, validaré al máximo posible tu web con las
                  exigentes pruebas de Google.
                </li>
              </ul>
            </article>
          </li>
          <li>
            <article>
              <h3>Parte de seguridad:</h3>
              <ul>
                <li>
                  Registro DMARC en las DNS de tus correos electrónicos para
                  evitar fraudes.
                </li>
                <li>
                  Instalación de certificado de seguridad SSL Let’s Encrypt.
                </li>
                <li>Correcciones en la visualización móvil.</li>
                <li>Datos enriquecidos Schema.</li>
                <li>
                  Conexión segura mediante HSTS para evitar ataques que
                  intercepten las comunicaciones.
                </li>
              </ul>
            </article>
          </li>
          <li>
            <article class="flow">
              <h3>¿Resultado?</h3>
              <p>
                Todas estas técnicas y otras más harán que la velocidad de carga
                de tu web sea como el rayo, evitando tiempos de espera y rebotes
                de tus clientes, junto a la seguridad y demás técnicas, harán
                que Google entienda que tu web está optimizada, es una web
                seria, protegida, rápida y por todo ello te puntuará mucho mejor
                escalando posiciones en el buscador.
              </p>
            </article>
          </li>
          <li>
            <article class="card-1">
              <div class="flow">
                <h3>¿Quieres este servicio?</h3>
                <p>
                  Puedes ponerte en contacto conmigo haciendo click en el
                  siguiente botón.
                </p>
                <a href="#contact" class="button">Ponerse en contacto</a>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="page-section | gray-bg">
    <div class="container">
      <div class="flow">
        <h2>¿De qué va esto del Posicionamiento Web?</h2>
        <p>
          No toda optimización se basa sólo en los contenidos, para Google y el
          resto de buscadores también es muy importante el código HTML de tu
          web, la forma en cómo haces llegar tus contenidos a tus usuarios
          mediante la estructura, los títulos, cabeceras u otras etiquetas META
          y contenido enriquecido.
        </p>
        <p>
          También tomará muy en cuenta la velocidad, los estándares utilizados,
          la validación del código, subsanar problemas con la navegación, etc.
        </p>
        <p>
          Esto NO se logra con MARKETING, ni publicidad, ni estrategias SEM. SE
          LOGRA CON TÉCNICAS SEO WPO (Web Performance Optimization).
        </p>
        <p>
          De esta manera, Google y otros buscadores valorarán y puntuarán mejor
          tu web para aparecer en los primeros resultados de los buscadores.
        </p>
      </div>
    </div>
  </section>
  <section class="page-section | faq">
    <div class="container">
      <div class="flow">
        <h2>Preguntas Frecuentes</h2>
        <ul role="list" class="grid">
          <li>
            <details class="flow">
              <summary
                >¿En cuánto tiempo estaría optimizada mi página web?</summary
              >
              <p>
                En aproximadamente 7 o 14 días laborales puede estar terminado,
                según el tamaño de la web a optimizar.
              </p>
            </details>
          </li>
          <li>
            <details class="flow">
              <summary
                >¿Necesito entregar algo antes de empezar contigo?</summary
              >
              <p>
                Si, al menos necesitaría el acceso al panel de control
                WordPress, al panel de la base de datos PHPMYADMIN y al servidor
                FTP para poder realizar todos los cambios necesarios en tu web.
              </p>
              <p>
                En caso de no saber los accesos de PHPMYADMIN y del FTP no te
                preocupes, puedes darme acceso a tu servidor Hosting donde
                tengas alojada la web y ya con ese acceso podré acceder a dichos
                servicios para realizar las optimizaciones.
              </p>
            </details>
          </li>
          <li>
            <details class="flow">
              <summary>¿En cuánto tiempo se verían los resultados?</summary>
              <p>
                Esto NADIE te lo podrá asegurar. Depende de muchas variantes
                (tiempo que lleva tu web online, nicho de negocio, la
                competencia, cuantas veces pase el algoritmo de Google por tu
                web, etc.)
              </p>
              <p>
                Lo que está claro es que tu web estará en desventaja frente a la
                competencia sin unas buenas prácticas de optimización SEO.
              </p>
              <p>
                El SEO necesita tiempo para funcionar, aunque en estimación se
                podría decir que tras 1 año tu web estará mejor posicionada que
                si no se hubiera realizado la optimización.
              </p>
            </details>
          </li>
          <li>
            <details class="flow">
              <summary>¿Necesito actualizar el SEO cada cierto tiempo?</summary>
              <p>
                En principio no haría falta, a no ser que tu web tenga un cambio
                drástico, por ejemplo, cambiando el theme, el diseño o instales
                muchas nuevas funcionalidades.
              </p>
              <p>
                En ese caso si podría hacer falta una revisión de la
                optimización.
              </p>
              <p>
                Quitando esos casos concretos, una vez realizada la optimización
                SEO tu web la tendrá de forma permanente.
              </p>
            </details>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <ContactSection />
</DefaultLayout>

<style lang="scss">
  @use "../../assets/scss/abstracts/colors.scss" as *;

  .light-cyan-bg {
    background-color: #92eef3;
    color: var(--neutral-900);
  }
</style>
